In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
Feb_18 =pd.read_excel(r'F:\ML Projects\Unna Bakery\Sales.xlsx', sheet_name='Feb 2018')
March_18 =pd.read_excel(r'F:\ML Projects\Unna Bakery\Sales.xlsx', sheet_name='March 2018')
April_18 =pd.read_excel(r'F:\ML Projects\Unna Bakery\Sales.xlsx', sheet_name='April 2018')
May_2018 =pd.read_excel(r'F:\ML Projects\Unna Bakery\Sales.xlsx', sheet_name='May 2018')
June_2018 =pd.read_excel(r'F:\ML Projects\Unna Bakery\Sales.xlsx', sheet_name='June 2018')
July_2018 =pd.read_excel(r'F:\ML Projects\Unna Bakery\Sales.xlsx', sheet_name='July 2018')
Aug_2018 =pd.read_excel(r'F:\ML Projects\Unna Bakery\Sales.xlsx', sheet_name='August 2018')
Sep_2018 =pd.read_excel(r'F:\ML Projects\Unna Bakery\Sales.xlsx', sheet_name='September 2018')
Oct_2018 =pd.read_excel(r'F:\ML Projects\Unna Bakery\Sales.xlsx', sheet_name='October 2018')

In [4]:
df3=pd.concat([Feb_18, March_18,April_18, May_2018,June_2018,July_2018,Aug_2018, Sep_2018, Oct_2018], ignore_index=True)

In [5]:
df3.head(10)

,Customer code,Brand,Ship Date,Customer Name,Address On File,itemcode,ItemName,UPC,Quantity
0,C13311,Unna Bakery,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188101.0,Unna Bake - Raspberry Cave cookie (6 x 3.4 OZ),8.601850e+11,1
1,C13311,Unna Bakery,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188102.0,Unna Bake - Farmer's Cookie (6 x 3.4 OZ),8.601850e+11,1
2,C13311,Unna Bakery,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188103.0,Unna Bake - Chocolate Caramel Cookie(6 x 3.4 OZ),8.601850e+11,1
3,C13311,Unna Bakery,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188104.0,Unna Bake -Vanilla Dream Cookie (6 x 3.4 OZ),8.601850e+11,1
4,C13311,Unna Bakery,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188105.0,Unna Bake -Ginger Snap Cookie (6 x 3.4 OZ),8.601850e+11,1
5,C13311,Unna Bakery,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188106.0,Unna Bake -Cardamom Crisp Cookie (6 x 3.4 OZ),8.601850e+11,1
6,C12171,Unna Bakery,2018-02-05,WFM-NYC HRM - HARLEM,WHOLE FOODS - HARLEM,188101.0,Unna Bake - Raspberry Cave cookie (6 x 3.4 OZ),8.601850e+11,1
7,C12171,Unna Bakery,2018-02-05,WFM-NYC HRM - HARLEM,WHOLE FOODS - HARLEM,188102.0,Unna Bake - Farmer's Cookie (6 x 3.4 OZ),8.601850e+11,1
8,C12171,Unna Bakery,2018-02-05,WFM-NYC HRM - HARLEM,WHOLE FOODS - HARLEM,188103.0,Unna Bake - Chocolate Caramel Cookie(6 x 3.4 OZ),8.601850e+11,1
9,C11342,Unna Bakery,2018-02-06,Back To the Land Natural Foods,142 7th Avenue 11215,188101.0,Unna Bake - Raspberry Cave cookie (6 x 3.4 OZ),8.601850e+11,1

In [6]:
df3=df3.rename(columns=({'Ship Date': 'Posting Date', 'Customer Name' :'Customer/Vendor Name','itemcode':'Item No.','ItemName':'Item/Service Description'}))

In [7]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1483 entries, 0 to 1482
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Customer code             1473 non-null   object
 1   Brand                     1473 non-null   object
 2   Posting Date              1473 non-null   datetime64[ns]
 3   Customer/Vendor Name      1473 non-null   object
 4   Address On File           1473 non-null   object
 5   Item No.                  1473 non-null   float64
 6   Item/Service Description  1473 non-null   object
 7   UPC                       1473 non-null   float64
 8   Quantity                  1483 non-null   int64
dtypes: datetime64[ns](1), float64(2), int64(1), object(5)
memory usage: 104.4+ KB

In [8]:
df3 = df3.drop(columns=['Customer code', 'Brand', 'UPC'])

In [9]:
df3

,Posting Date,Customer/Vendor Name,Address On File,Item No.,Item/Service Description,Quantity
0,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188101.0,Unna Bake - Raspberry Cave cookie (6 x 3.4 OZ),1
1,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188102.0,Unna Bake - Farmer's Cookie (6 x 3.4 OZ),1
2,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188103.0,Unna Bake - Chocolate Caramel Cookie(6 x 3.4 OZ),1
3,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188104.0,Unna Bake -Vanilla Dream Cookie (6 x 3.4 OZ),1
4,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188105.0,Unna Bake -Ginger Snap Cookie (6 x 3.4 OZ),1
...,...,...,...,...,...,...
1478,2018-10-31,Mr. Melon,975 Fulton Street Brooklyn NY 11238,188301.0,Unna Bake -Vanilla Dream (6 x 7 oz),1
1479,2018-10-31,Mr. Melon,975 Fulton Street Brooklyn NY 11238,188302.0,Unna Bake -Lemon Lime (6 x 7 oz),1
1480,2018-10-31,Mr. Melon,975 Fulton Street Brooklyn NY 11238,188303.0,Unna Bake -Coconut Oat (6 x 7 oz),1
1481,2018-10-31,Mr. Melon,975 Fulton Street Brooklyn NY 11238,188401.0,Unna Bake -Ginger Snap & Vanilla Dream -(6 x 7...,1
1482,NaT,NaN,NaN,NaN,NaN,298

In [10]:
df3.dropna(subset=['Item No.'])

,Posting Date,Customer/Vendor Name,Address On File,Item No.,Item/Service Description,Quantity
0,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188101.0,Unna Bake - Raspberry Cave cookie (6 x 3.4 OZ),1
1,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188102.0,Unna Bake - Farmer's Cookie (6 x 3.4 OZ),1
2,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188103.0,Unna Bake - Chocolate Caramel Cookie(6 x 3.4 OZ),1
3,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188104.0,Unna Bake -Vanilla Dream Cookie (6 x 3.4 OZ),1
4,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188105.0,Unna Bake -Ginger Snap Cookie (6 x 3.4 OZ),1
...,...,...,...,...,...,...
1477,2018-10-31,WFM-NYC UES - 3rd Ave,WHOLE FOODS - UPPER EAST SIDE,188107.0,Unna Bake -Coconut Oat Cookie- (6 x 3.4 OZ),1
1478,2018-10-31,Mr. Melon,975 Fulton Street Brooklyn NY 11238,188301.0,Unna Bake -Vanilla Dream (6 x 7 oz),1
1479,2018-10-31,Mr. Melon,975 Fulton Street Brooklyn NY 11238,188302.0,Unna Bake -Lemon Lime (6 x 7 oz),1
1480,2018-10-31,Mr. Melon,975 Fulton Street Brooklyn NY 11238,188303.0,Unna Bake -Coconut Oat (6 x 7 oz),1
1481,2018-10-31,Mr. Melon,975 Fulton Street Brooklyn NY 11238,188401.0,Unna Bake -Ginger Snap & Vanilla Dream -(6 x 7...,1

In [11]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1483 entries, 0 to 1482
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Posting Date              1473 non-null   datetime64[ns]
 1   Customer/Vendor Name      1473 non-null   object
 2   Address On File           1473 non-null   object
 3   Item No.                  1473 non-null   float64
 4   Item/Service Description  1473 non-null   object
 5   Quantity                  1483 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 69.6+ KB

In [12]:
df3['Item No.'].isna().sum()

10

In [13]:
df3=df3.dropna(subset=['Item No.'])

In [14]:
df3['Item No.'].isna().sum()

0

In [15]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1473 entries, 0 to 1481
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Posting Date              1473 non-null   datetime64[ns]
 1   Customer/Vendor Name      1473 non-null   object
 2   Address On File           1473 non-null   object
 3   Item No.                  1473 non-null   float64
 4   Item/Service Description  1473 non-null   object
 5   Quantity                  1473 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 80.6+ KB

In [16]:
df3.loc[:,'Item No.']=df3.loc[:,'Item No.'].map(lambda x: int(x))

C:\Users\lenovo\anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [17]:
def unit_price(row):
    L1=188401, 188302, 188303, 188102, 188202, 188201, 188301, 188105, 188101, 188104, 188107, 188106, 188204, 188503, 188501, 188502, 188504
    L2= [52.0, 20.66, 20.66, 17.13, 13.6, 13.6, 20.66, 20.85, 20.85, 17.13, 20.85, 20.15, 13.6, 18.0, 20.1, 20.1, 20.1]
    d = {k:v for k,v in zip(L1,L2)}
    row['Price Per Unit']=row['Item No.'].map(lambda x : d.get(x))
    return row

In [18]:
df3=unit_price(df3)

<ipython-input-17-a164babe3282>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row['Price Per Unit']=row['Item No.'].map(lambda x : d.get(x))

In [19]:
df3

,Posting Date,Customer/Vendor Name,Address On File,Item No.,Item/Service Description,Quantity,Price Per Unit
0,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188101,Unna Bake - Raspberry Cave cookie (6 x 3.4 OZ),1,20.85
1,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188102,Unna Bake - Farmer's Cookie (6 x 3.4 OZ),1,17.13
2,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188103,Unna Bake - Chocolate Caramel Cookie(6 x 3.4 OZ),1,NaN
3,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188104,Unna Bake -Vanilla Dream Cookie (6 x 3.4 OZ),1,17.13
4,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188105,Unna Bake -Ginger Snap Cookie (6 x 3.4 OZ),1,20.85
...,...,...,...,...,...,...,...
1477,2018-10-31,WFM-NYC UES - 3rd Ave,WHOLE FOODS - UPPER EAST SIDE,188107,Unna Bake -Coconut Oat Cookie- (6 x 3.4 OZ),1,20.85
1478,2018-10-31,Mr. Melon,975 Fulton Street Brooklyn NY 11238,188301,Unna Bake -Vanilla Dream (6 x 7 oz),1,20.66
1479,2018-10-31,Mr. Melon,975 Fulton Street Brooklyn NY 11238,188302,Unna Bake -Lemon Lime (6 x 7 oz),1,20.66
1480,2018-10-31,Mr. Melon,975 Fulton Street Brooklyn NY 11238,188303,Unna Bake -Coconut Oat (6 x 7 oz),1,20.66
1481,2018-10-31,Mr. Melon,975 Fulton Street Brooklyn NY 11238,188401,Unna Bake -Ginger Snap & Vanilla Dream -(6 x 7...,1,52.00

In [20]:
df3['Total Sales $']=df3['Price Per Unit'] * df3['Quantity']

<ipython-input-20-d60d4e9e95b4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Total Sales $']=df3['Price Per Unit'] * df3['Quantity']

In [21]:
df3

,Posting Date,Customer/Vendor Name,Address On File,Item No.,Item/Service Description,Quantity,Price Per Unit,Total Sales $
0,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188101,Unna Bake - Raspberry Cave cookie (6 x 3.4 OZ),1,20.85,20.85
1,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188102,Unna Bake - Farmer's Cookie (6 x 3.4 OZ),1,17.13,17.13
2,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188103,Unna Bake - Chocolate Caramel Cookie(6 x 3.4 OZ),1,NaN,NaN
3,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188104,Unna Bake -Vanilla Dream Cookie (6 x 3.4 OZ),1,17.13,17.13
4,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188105,Unna Bake -Ginger Snap Cookie (6 x 3.4 OZ),1,20.85,20.85
...,...,...,...,...,...,...,...,...
1477,2018-10-31,WFM-NYC UES - 3rd Ave,WHOLE FOODS - UPPER EAST SIDE,188107,Unna Bake -Coconut Oat Cookie- (6 x 3.4 OZ),1,20.85,20.85
1478,2018-10-31,Mr. Melon,975 Fulton Street Brooklyn NY 11238,188301,Unna Bake -Vanilla Dream (6 x 7 oz),1,20.66,20.66
1479,2018-10-31,Mr. Melon,975 Fulton Street Brooklyn NY 11238,188302,Unna Bake -Lemon Lime (6 x 7 oz),1,20.66,20.66
1480,2018-10-31,Mr. Melon,975 Fulton Street Brooklyn NY 11238,188303,Unna Bake -Coconut Oat (6 x 7 oz),1,20.66,20.66
1481,2018-10-31,Mr. Melon,975 Fulton Street Brooklyn NY 11238,188401,Unna Bake -Ginger Snap & Vanilla Dream -(6 x 7...,1,52.00,52.00

In [22]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1473 entries, 0 to 1481
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Posting Date              1473 non-null   datetime64[ns]
 1   Customer/Vendor Name      1473 non-null   object
 2   Address On File           1473 non-null   object
 3   Item No.                  1473 non-null   int64
 4   Item/Service Description  1473 non-null   object
 5   Quantity                  1473 non-null   int64
 6   Price Per Unit            1257 non-null   float64
 7   Total Sales $             1257 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(3)
memory usage: 103.6+ KB

In [23]:
df3=df3.dropna()

In [24]:
df3

,Posting Date,Customer/Vendor Name,Address On File,Item No.,Item/Service Description,Quantity,Price Per Unit,Total Sales $
0,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188101,Unna Bake - Raspberry Cave cookie (6 x 3.4 OZ),1,20.85,20.85
1,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188102,Unna Bake - Farmer's Cookie (6 x 3.4 OZ),1,17.13,17.13
3,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188104,Unna Bake -Vanilla Dream Cookie (6 x 3.4 OZ),1,17.13,17.13
4,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188105,Unna Bake -Ginger Snap Cookie (6 x 3.4 OZ),1,20.85,20.85
5,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188106,Unna Bake -Cardamom Crisp Cookie (6 x 3.4 OZ),1,20.15,20.15
...,...,...,...,...,...,...,...,...
1477,2018-10-31,WFM-NYC UES - 3rd Ave,WHOLE FOODS - UPPER EAST SIDE,188107,Unna Bake -Coconut Oat Cookie- (6 x 3.4 OZ),1,20.85,20.85
1478,2018-10-31,Mr. Melon,975 Fulton Street Brooklyn NY 11238,188301,Unna Bake -Vanilla Dream (6 x 7 oz),1,20.66,20.66
1479,2018-10-31,Mr. Melon,975 Fulton Street Brooklyn NY 11238,188302,Unna Bake -Lemon Lime (6 x 7 oz),1,20.66,20.66
1480,2018-10-31,Mr. Melon,975 Fulton Street Brooklyn NY 11238,188303,Unna Bake -Coconut Oat (6 x 7 oz),1,20.66,20.66
1481,2018-10-31,Mr. Melon,975 Fulton Street Brooklyn NY 11238,188401,Unna Bake -Ginger Snap & Vanilla Dream -(6 x 7...,1,52.00,52.00

In [25]:
df3=df3.drop(columns='Price Per Unit')

In [26]:
df3

,Posting Date,Customer/Vendor Name,Address On File,Item No.,Item/Service Description,Quantity,Total Sales $
0,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188101,Unna Bake - Raspberry Cave cookie (6 x 3.4 OZ),1,20.85
1,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188102,Unna Bake - Farmer's Cookie (6 x 3.4 OZ),1,17.13
3,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188104,Unna Bake -Vanilla Dream Cookie (6 x 3.4 OZ),1,17.13
4,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188105,Unna Bake -Ginger Snap Cookie (6 x 3.4 OZ),1,20.85
5,2018-02-03,Quincy,331 Nostrand Ave Brooklyn NY 11216,188106,Unna Bake -Cardamom Crisp Cookie (6 x 3.4 OZ),1,20.15
...,...,...,...,...,...,...,...
1477,2018-10-31,WFM-NYC UES - 3rd Ave,WHOLE FOODS - UPPER EAST SIDE,188107,Unna Bake -Coconut Oat Cookie- (6 x 3.4 OZ),1,20.85
1478,2018-10-31,Mr. Melon,975 Fulton Street Brooklyn NY 11238,188301,Unna Bake -Vanilla Dream (6 x 7 oz),1,20.66
1479,2018-10-31,Mr. Melon,975 Fulton Street Brooklyn NY 11238,188302,Unna Bake -Lemon Lime (6 x 7 oz),1,20.66
1480,2018-10-31,Mr. Melon,975 Fulton Street Brooklyn NY 11238,188303,Unna Bake -Coconut Oat (6 x 7 oz),1,20.66
1481,2018-10-31,Mr. Melon,975 Fulton Street Brooklyn NY 11238,188401,Unna Bake -Ginger Snap & Vanilla Dream -(6 x 7...,1,52.00

In [27]:
df3=df3.drop(columns=['Address On File', 'Item No.'])

In [28]:
df3

,Posting Date,Customer/Vendor Name,Item/Service Description,Quantity,Total Sales $
0,2018-02-03,Quincy,Unna Bake - Raspberry Cave cookie (6 x 3.4 OZ),1,20.85
1,2018-02-03,Quincy,Unna Bake - Farmer's Cookie (6 x 3.4 OZ),1,17.13
3,2018-02-03,Quincy,Unna Bake -Vanilla Dream Cookie (6 x 3.4 OZ),1,17.13
4,2018-02-03,Quincy,Unna Bake -Ginger Snap Cookie (6 x 3.4 OZ),1,20.85
5,2018-02-03,Quincy,Unna Bake -Cardamom Crisp Cookie (6 x 3.4 OZ),1,20.15
...,...,...,...,...,...
1477,2018-10-31,WFM-NYC UES - 3rd Ave,Unna Bake -Coconut Oat Cookie- (6 x 3.4 OZ),1,20.85
1478,2018-10-31,Mr. Melon,Unna Bake -Vanilla Dream (6 x 7 oz),1,20.66
1479,2018-10-31,Mr. Melon,Unna Bake -Lemon Lime (6 x 7 oz),1,20.66
1480,2018-10-31,Mr. Melon,Unna Bake -Coconut Oat (6 x 7 oz),1,20.66
1481,2018-10-31,Mr. Melon,Unna Bake -Ginger Snap & Vanilla Dream -(6 x 7...,1,52.00

In [28]:
df3.to_excel(r'F:\Projects\Unna Bakery\Sales_Feb18-Oct18.xlsx', encoding='utf8')

In [29]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1257 entries, 0 to 1481
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Posting Date              1257 non-null   datetime64[ns]
 1   Customer/Vendor Name      1257 non-null   object
 2   Item/Service Description  1257 non-null   object
 3   Quantity                  1257 non-null   int64
 4   Total Sales $             1257 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 58.9+ KB